


@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Vacation</h1>
    </div>
</div>


    <div class="container py-5">


        <h1>Vacation Time and Vacation Pay</h1>
        <p>This employment standard has two parts: vacation time and vacation pay. Some employees have jobs that are exempt from the vacation with pay provisions of the ESA. For more information on these job categories, please see the special rule tool.</p>
        <h2>Vacation Time</h2>
        <p>Employees with less than five years of employment are entitled to two weeks of vacation time after each 12-month vacation entitlement year. Employees with five or more years of employment are entitled to three weeks of vacation time. Ordinarily, a vacation entitlement year is a recurring 12-month period beginning on the date of hire. Where the employer has established an alternative vacation entitlement year that begins on a date other than the date of hire, the employee is also entitled to a pro-rated amount of vacation time for the period (called a "stub period") that precedes the alternative vacation entitlement year.</p>
        <h2>Vacation Pay</h2>
        <p>Vacation pay must be at least four per cent of the gross wages (excluding any vacation pay) earned in the 12-month vacation entitlement year or stub period (where that applies) for employees with less than five years of employment. Employees with five or more years of employment at the end of a 12-month vacation entitlement year or stub period (if any) are entitled to at least six per cent of the gross wages earned in the 12-month vacation entitlement year or stub period.</p>
        <p>An employee's contract of employment or a collective agreement may provide a greater right or benefit with respect to vacation time and/or pay.</p>
        <p>An employee who does not complete either the full vacation entitlement year or the stub period (if any) does not qualify for vacation time under the ESA. However, employees earn vacation pay as they earn wages. Therefore, if an employee works even just one hour, they are still entitled to at least four per cent (or six per cent, depending on length of employment) of the hour's wages as vacation pay.</p>
    

    </div>



